

/* gradients and glassmorphisms */
.finance{
  background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );
}
.home{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
}

.post{
  background-image: linear-gradient( 99deg,  rgba(115,18,81,1) 10.6%, rgba(28,28,28,1) 118% );
}
.dev{
  background-image: linear-gradient( 181deg,  rgba(225,109,245,1) 6.9%, rgba(78,248,231,1) 112.8% );
}
.tech{
  background-color: #FAACA8;
background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

}
.blockchains{
  background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
.nav{
  background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );
}


.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.text-gradient2 {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient {
  background: #190CC9;
  background: repeating-radial-gradient(circle farthest-corner at top right, #190CC9 0%, #E31956 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer{
  background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
  
}

/* spinner */
.spinners{
  animation: Morph 2000ms infinite;
}
@keyframes Morph {
  0%,
  100% { 
    border-radius: 50%;
    transform: rotate(0deg);
  }
  50%  {
 border-radius: 0%;
 transform: rotate(100deg);
 background-color:  #fda4af;
  }
}

/* slick slider css */
#wrapper{
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  
}
.slides{
  position: relative;
}
.slides .slick-prev,
.slides .slick-next{
background-color:  black ;
color: black;
position: absolute;
height: 20px;
top: 50%;
z-index: 1;
}

.slides .slick-prev:hover,
.slides .slick-next:hover{
background-color:  rgb(11, 36, 222);
position: absolute;
top: 50%;
z-index: 1;
}

/* test */
.slides-list {
 background:rgb(81, 235, 81);
}
/* spacing in between a group oof slides */
.slick-slide { 
  padding-left: 1.25%;
  padding-right: 0.75%;
  
}

/* end */
.slides .slick-prev{
  left: 1%;
}
.slides .slick-next{
  right: 1%;
}



body{
  
  /* background-color: #1F282F; */
  /* background-color: #ffffff; */
  background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,1) 0%, rgba(255,244,234,1) 100.2% );
 
  
}



@tailwind base;
@tailwind components;
@tailwind utilities;